@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* font-family: "Montserrat", sans-serif;
font-family: "Montez", cursive; */

@theme{
  --color-primary: #84BD00;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Montez", cursive;
}
.slick-slide {
  padding: 0 12px;
}